@use '../../base';

// footer
@mixin footer($footerHeight) {
  .footer {
    height: $footerHeight;
    line-height: $footerHeight;

    @include base.width();
    @include base.font($align: center);
  }
}

.pc {
  $footerHeight: 70px;

  @include footer($footerHeight);
}

.mobile {
  $footerHeight: 3rem;

  @include footer($footerHeight);
}
