@use '../../base';

// article
@mixin article($titleHeight, $contentHeight) {
  .article-container {
    .article-title {
      line-height: $titleHeight;
      border-bottom: base.$borderDotted;
      font-weight: 600;

      @include base.width();
      @include base.font($size: 28px, $align: center);
    }

    .article-date {
      height: $contentHeight;
      line-height: $contentHeight;

      @include base.width();
      @include base.font();
    }

    .article-times {
      height: $contentHeight;
      line-height: $contentHeight;
      border-bottom: base.$borderDotted;

      @include base.width();
      @include base.font();
    }

    .article-content {
      padding-bottom: $contentHeight;
      border-bottom: base.$borderDotted;
      @include base.width();

      img {
        max-width: 100%;
      }
    }
  }
}

.pc {
  $titleHeight: 100px;
  $contentHeight: 40px;

  @include article($titleHeight, $contentHeight);
  .article-container {
    @include base.width();

    .article-title {
      height: 100px;
      @include base.font($size: 28px, $align: center);
    }
  }
}

.mobile {
  $titleHeight: 3rem;
  $contentHeight: 1rem;

  @include article($titleHeight, $contentHeight);
  .article-container {
    width: calc(100% - 20px);
    padding: 0 10px;

    .article-title {
      height: auto;
      @include base.font($size: 24px, $align: center);
    }

    .article-date {
      @include base.font($size: 12px);
    }

    .article-times {
      @include base.font($size: 12px);
    }

    .article-content {
      @include base.font();

      img {
        max-width: 100%;
      }
      pre {
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
}
