@use '../../base';

.donate {
  padding: 40px 0;
  border-bottom: base.$borderDotted;

  @include base.width();

  .donate-img {
    @include base.width();

    img {
      display: block;
      width: 300px;
      margin: 0 auto;
    }
  }

  .donate-tip {
    height: 40px;
    padding-top: 20px;
    line-height: 40px;

    @include base.width();
    @include base.font($size: 16px, $align: center);
  }
}
