@use '../../base';

// breadcrumbs
@mixin breadcrumbs($height) {
  .breadcrumbs {
    width: calc(100% - 20px);
    height: auto;
    padding: 20px 10px;
    border-bottom: base.$borderDashed;

    @include base.marginAuto();

    .clear {
      clear: both;
    }

    .split {
      float: left;
      width: 40px;
      height: $height;
    }

    .breadcrumb {
      float: left;
      width: auto;
      height: $height;

      div {
        float: left;
        height: $height;
        line-height: $height;

        @include base.font($size: 16px, $align: center);
      }

      .item {
        text-align: left;
        @include base.cursor();
      }
      .item.active {
        font-weight: 600;
      }
    }
  }
}

.pc {
  $height: 30px;

  @include breadcrumbs($height);
}

.mobile {
  $height: 2rem;

  @include breadcrumbs($height);
}
