@use '../../base';

// info
@mixin info($height) {
  .info {
    width: calc(100% - 20px);
    height: $height;
    padding: 15px 10px;
    border-bottom: base.$borderDotted;

    .clear {
      clear: both;
    }

    > div {
      float: left;
      height: $height;
    }

    .item-title {
      @include base.alink();
      @include base.font($size: 16px);
      line-height: $height;
      font-weight: 600;
    }
    .item-desc {
      padding-left: 20px;
      height: $height;
      line-height: $height;

      @include base.font($size: 14px, $color: #888);
    }
    .item-other {
      padding-left: 20px;
      height: $height;
      line-height: $height;

      @include base.font($size: 14px, $color: #888);
    }
  }
}

.pc {
  $height: 30px;

  @include info($height);
}

.mobile {
  $height: 1.5rem;

  @include info($height);
  .item-desc {
    display: none;
  }
  .item-other {
    display: none;
  }
}
