@use '../../base';

// info
@mixin info($itemTitleHeight, $itemDescHeight, $itemOtherHeight) {
  .info {
    @include base.width();
    height: $itemTitleHeight;
    padding: 15px 0;
    border-bottom: base.$borderDotted;

    .clear {
      clear: both;
    }

    > div {
      float: left;
      height: $itemTitleHeight;
    }

    .item-title {
      @include base.alink();
      @include base.font($size: 16px);
      line-height: $itemTitleHeight;
      font-weight: 600;
    }
    .item-desc {
      padding-left: 20px;
      height: $itemDescHeight;
      line-height: $itemDescHeight;

      @include base.font($size: 14px, $color: #888);
    }
    .item-other {
      padding-left: 20px;
      height: $itemOtherHeight;
      line-height: $itemOtherHeight;

      @include base.font($size: 14px, $color: #888);
    }
  }
}

.pc {
  $itemTitleHeight: 30px;
  $itemDescHeight: 30px;
  $itemOtherHeight: 30px;

  @include info($itemTitleHeight, $itemDescHeight, $itemOtherHeight);
}

.mobile {
  $itemTitleHeight: 1.5rem;
  $itemDescHeight: 1rem;
  $itemOtherHeight: 1rem;

  @include info($itemTitleHeight, $itemDescHeight, $itemOtherHeight);
  .info {
    width: calc(100% - 20px);
    padding: 10px;

    .item-desc {
      @include base.font($size: 12px, $color: #888);
    }

    .item-other {
      @include base.font($size: 12px);
    }
  }
}
