@use '../../base.scss';

// button
@mixin button() {
  .QButton {
    width: 100%;
    height: 100%;
    @include base.cursor();

    .ctx {
      width: 100%;
      height: 100%;
    }

    .icon {
      float: left;

      img {
        display: block;
      }
    }
    .icon-ctx {
      float: left;
    }
  }
}

.dark {
  @include button();
}
