@use 'qiao-ui/src/base.scss';
@use 'qiao-ui/src/q/color.scss';

// login
@mixin login($width, $height, $imgWidth) {
  $borderRadius: 5px;

  .login-container {
    width: $width;
    height: $height;
    background-color: color.$color05;
    border-radius: 8px;

    .login-left {
      float: left;
      width: $imgWidth;
      height: $height;
      img {
        display: block;
        width: $imgWidth;
        height: $height;
      }
    }
    .login-right {
      float: left;
      width: calc(100% - $imgWidth);
      height: $height;

      .login-box {
        width: 297px;
        height: 294px;
        margin-left: 49px;
        margin-top: 78px;

        .login-title {
          width: 100%;
          height: 36px;
          color: color.$color11;
          font-size: 24px;
          line-height: 36px;
          .green {
            color: color.$color04;
          }
        }

        .login-mobile {
          width: 280px;
          height: 40px;
          margin-top: 20px;
          padding-left: 10px;
          border-radius: $borderRadius;
          background-color: color.$acolor02;
          .login-mobile-l {
            float: left;
            width: 65px;
            height: 40px;
            color: color.$color11;
            font-size: 14px;
            line-height: 40px;
            border-right: solid 1px color.$color05;
          }
          .login-mobile-r {
            float: left;
            width: calc(100% - 66px);
            height: 40px;
          }
        }

        .login-code {
          width: 280px;
          height: 40px;
          margin-top: 20px;
          border-radius: $borderRadius;
          background-color: color.$acolor02;
          .login-code-l {
            float: left;
            width: 189px;
            height: 40px;
            border-right: solid 1px color.$color05;
          }
          .login-code-r {
            float: left;
            width: calc(100% - 190px);
            height: 40px;
            color: color.$color04;
            font-size: 14px;
            text-align: center;
            line-height: 40px;
            @include base.cursor();
          }
        }

        .login-tips {
          width: 280px;
          height: 20px;
          margin-top: 10px;
          font-size: 14px;
          line-height: 20px;
        }
        .login-tips.suc {
          color: color.$color04;
        }
        .login-tips.err {
          color: color.$color12;
        }

        .login-btn {
          width: 280px;
          height: 40px;
          margin-top: 10px;
          line-height: 40px;

          $btnPadding: 0px;
          $btnBorder: 0px;
          $btnWidth: calc(100% - (2 * $btnBorder) - (2 * $btnPadding));
          $btnHeight: calc(100% - (2 * $btnBorder));
          $btnRadius: 5px;
          $fontSize: 16px;
          $lineHeight: 40px;
          $textAlign: center;
          .QButton {
            width: $btnWidth;
            height: $btnHeight;
            padding: 0 $btnPadding;
            border-radius: $btnRadius;
            background: color.$lcolor01;

            .ctx {
              color: color.$color03;
              font-size: $fontSize;
              line-height: $lineHeight;
              text-align: $textAlign;
            }
          }
        }

        .login-txt {
          width: 297px;
          height: 40px;
          margin-top: 22px;

          color: color.$color11;
          font-size: 14px;
          line-height: 20px;
          & .green {
            color: color.$color04;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  }

  .login-container {
    $inputHeight: 40px;
    $inputMarginBottom: 10px;
    $inputPadding: 10px;
    $inputWidth: calc(100% - (2 * $inputPadding));
    $inputColor: color.$color11;
    $inputSize: 14px;
    $inputAlign: left;
    $inputPlaceholderColor: color.$acolor03;

    .QInput {
      height: $inputHeight;
      margin-bottom: $inputMarginBottom;

      input {
        width: $inputWidth;
        height: $inputHeight;
        padding: 0 $inputPadding;

        color: $inputColor;
        font-size: $inputSize;
        text-align: $inputAlign;
        line-height: $inputHeight;
      }
      input::placeholder {
        color: $inputPlaceholderColor;
      }
    }
  }
}

.dark {
  $width: 680px;
  $height: 400px;
  $imgWidth: 299px;
  @include login($width, $height, $imgWidth);
}
