@use '../../base';

$height: 20px;
$paddingTop: 20px;

.checkbox-list {
  height: $height;
  padding-top: $paddingTop;

  @include base.width();
  @include base.marginAuto();

  .item {
    float: left;
    height: $height;
    line-height: $height;
    padding-right: 10px;

    @include base.font($size: 16px);

    input {
      display: block;
      float: left;
      padding: 0;
      margin: 5px;
    }
  }
}
