@use '../../base';

$inputHeight: 50px;

.tips {
  height: $inputHeight;
  line-height: $inputHeight;
  padding-top: 20px;

  @include base.width();
  @include base.font($size: 16px, $align: center, $color: red);
}
