@use '../../base';

// header
@mixin header($headerHeight, $logoWidth, $navsWidth, $navWidth) {
  .header {
    width: calc(100% - 20px);
    height: $headerHeight;
    padding: 0 10px;
    border-bottom: base.$borderSolid;

    .logo {
      float: left;
      width: $logoWidth;
    }

    .navs {
      float: left;
      width: $navsWidth;
      height: $headerHeight;

      .nav {
        float: right;
        width: $navWidth;
      }
    }
  }

  .nav-txt {
    height: $headerHeight;
    line-height: $headerHeight;

    @include base.font($size: 16px);
    @include base.cursor();
    @include base.alink();
  }

  .nav-txt.right {
    text-align: right;
  }

  .header.center {
    .nav-txt {
      text-align: center;
    }

    .nav-txt.right {
      text-align: center;
    }
  }
}

.pc {
  $headerHeight: 60px;
  $logoWidth: 200px;
  $navsWidth: calc(100% - $logoWidth - 20px);
  $navWidth: 100px;

  @include header($headerHeight, $logoWidth, $navsWidth, $navWidth);
}

.mobile {
  $headerHeight: 2rem;
  $logoWidth: 6rem;
  $navsWidth: calc(16rem - $logoWidth - 20px);
  $navWidth: calc($navsWidth / 4);

  @include header($headerHeight, $logoWidth, $navsWidth, $navWidth);
}
