@use '../../base';

$selectHeight: 50px;

.select {
  height: $selectHeight;
  line-height: $selectHeight;

  margin-bottom: 10px;
  padding: 0 10px;
  outline: none;

  border-bottom: base.$borderSolid;

  @include base.width();
  @include base.font($size: 18px);
}
